<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.bill.webservices.mappers.PayrateMapper">
	<!-- 费率查询 -->
	<select id="getAllPayrate" resultType="Payrate">
        SELECT *  
        FROM kw_payrate t 
        WHERE EXISTS (
		      SELECT paravalue3 
		      FROM fs_sys_para 
		      WHERE memo2 = '0' AND paravalue3 = t.outstation
		)
	</select>
</mapper>
